.cuadro.amarillo {
    border: yellow solid 4px;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.cuadro.azul {
    border: blue 4px solid;
    width: 100px;
    height: 100px;
    margin: 20px
}

.cuadro.rojo {
    border: red solid 4px;
    width: 100px;
    height: 100px;
    margin: 20px;
}